* {
	border-radius: 8px;
}

html {
	color: #c7f0ff;
	background-color: #111111;

	padding: 8px;

	font-family: Mukta, monospace;
}

/* Headers */

h1 {
	line-height: 12px;
}

h2 {
	line-height: 10px;
}

h3 {
	line-height: 8px;
}

a {
	color: rgba(255, 165, 0, 1);
	background-color: rgba(255, 165, 0, 0.075);

	padding: 4px;

	text-decoration: none;
}