* {
	padding: 0;
	margin: 0;

	border-radius: 0;
}

html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

header {
	background-image: url("../img/background-img.jpg");
	background-size: cover;
	height: 100vh;
}

h1 {
	line-height: 32px;
	margin-left: 64px;
}

h2 {
	line-height: 40px;
	font-size: 32px;

	padding: 16px;
}

p {
	line-height: 18px;
}

a {

}

.title-bar {
	padding: 12px;
}

.info-box {
	width: 300px;
	height: auto;

	padding-top: 120px;
	margin: auto;

	text-align: center;
}

.info-box article a {
	height: 150px;
	width: 150px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px;
	border: 2px solid white;
}
.info-box article a:hover {
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.info-navigation {
	text-align: right;

	margin-bottom: 0;
	margin-right: 80px;
}

.info-navigation a {
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.info-navigation li a:hover{
	text-decoration: underline;
}

.button {
	margin: 64px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

main {
	color: black;
	background-color: white;
}

#info-section {
	height: auto;
}

.info-article {
	margin: auto;
	padding: 24px;
	text-align: center;

	min-width: 300px;
	max-width: 500px;
}

.info-article div {
	width: 140px;
	height: auto;

	margin: auto;
	padding: 16px;

	border: 2px solid black;
}

.info-article p {
	line-height: 24px;
}

.info-article a {
	height: 150px;
	color: black;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px;
}

footer {
	background-color: rgb(15, 25, 54);
	height:auto
}

footer .footer-note {
	width: 50%;
	text-align: left;
	margin: 0 0 0 16px;
	padding-top: 16px
}

.footer-button {

	text-align: center;
	margin: 16px 0 16px 0;
	height: auto;
	width: 64px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px;
	border: 2px solid white;
}

.footer-button a {
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.footer-button:hover {
	text-decoration: underline;
}

footer .info-navigation {
	text-align: right;

	margin-bottom: 0;
	margin-right: 12px;
}

.info-navigation a {
	color: white;
	background-color: rgba(0, 0, 0, 0);
}